.navbar-brand img {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

.jumbotron {
    background: white;
    background-image: url('LOGO.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400px auto;
    color: #fff;
    padding: 100px 25px;
    opacity: 0.9
}

hr {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: orange;
    border-width: 0 0 1px 0;
    border-radius: 20px;
    width: 50%
}

.container-fluid {
    padding: 60px 60px;
}

.bg-grey {
    background-color: #f6f6f6;
}

img.logo {
    width: 10px;
    height: 10px;
}

.logo-small {
    font-size: 50px;
}

.icon img {
    width: 80px;
    height: 80px
}

.col-sm-4 a {
    color: #9ACD32;
    font-size: 20px
}

.col-sm-8 a {
    color: #9ACD32;
    font-size: 20px
}

.thumbnail {
    padding-left: 15px;
    border: none;
    border-radius: 5px;
}

.thumbnail > img {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}

p {
    font-size: 15px;
}

h2 {
    font-family: 'Alegreya Sans SC', sans-serif;
    /*text-align: center;*/
}

h1 {
    font-family: 'Roboto slab`', sans-serif;
    /*font-weight: bold;*/

}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}

.carousel-inner {
    /*background-image: url("bg1.jpeg"); /* The image used */
    background-color: ; /* Used if the image is unavailable */
    /*height: 400px; /* You must set a specified height */
    /*background-position:; /* Center the image */
    /*background-repeat: no-repeat; /* Do not repeat the image */
    /*background-size: contain; /* Resize the background image to cover the entire container */
}

.carousel-indicators li {
    border-color: #f4511e;
}

.carousel-indicators li.active {
    background-color: #f4511e;

}

.item p {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 300px;
    font-style: italic;
    margin: 90px 0;
}

.item span {
    font-weight: bold;
}

.navbar {
    margin-bottom: 0;
    background-color: #fff;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #9ACD32 !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #fff !important;
    background-color: #9ACD32 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #9ACD32 !important;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #9ACD32;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}